html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e6e6e6;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.body__header {
    white-space: nowrap;
    font-size: 34px;
}