.task {
    list-style: none;
    padding: 0px 5px;
    margin: 5px;
    border-bottom: 2px solid #e6e6e6;
}

.task__list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    justify-content: center;
    padding: 0px;
    margin: 10px 5px;
}

.task__done {
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.task__done:hover {
    background-color: hsl(120, 100%, 28%);
}

.task__done:active {
    background-color: hsl(120, 100%, 31%);
}

.task__content {
    align-self: center;
}

.task__content--done {
    text-decoration: line-through;
}

.task__remove {
    background-color: hsl(0, 100%, 50%);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.task__remove:hover {
    background-color: hsl(0, 100%, 62%);
}

.task__remove:active {
    background-color: hsl(0, 100%, 68%);
}

.hideDoneButton {
    padding: 0px;
    font-size: 19px;
    transition: 0.5s;
    border: none;
    background-color: white;
    color: hsl(180, 100%, 30%);
}

.hideDoneButton:hover {
    color: hsl(180, 100%, 37%);
}

.hideDoneButton:active {
    color: hsl(180, 100%, 40%);
}

.doneAllButton {
    padding: 0px;
    font-size: 19px;
    transition: 0.5s;
    border: none;
    background-color: white;
    color: hsl(180, 100%, 30%);
}

.doneAllButton:hover {
    color: hsl(180, 100%, 37%);
}

.doneAllButton:active {
    color: hsl(180, 100%, 40%);
}

.doneAllButton:disabled {
    color: grey;
}
